<div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#" class="button">Link 1</a></li>
             <li><a href="#" class="button">Link 2</a></li>
             <li><a href="#" class="button">Link 3</a></li>
             <li><a href="#" class="button">Link 4</a></li>
            </ul>
          </div>
          <h1>CloudHead <small> </small></h1>
          <hr/>
        </div>
      </div>
     
      <div class="row"     
        <div class="large-9 columns" role="content">
          <article>
  
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Existing mount directoy </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Existing mount directoy" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="1" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Existing bucket key/ path give / for service as root </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Existing bucket key" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="2" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Existing temp directory </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Existing temp directory" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="3" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Accesskeyid </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Accesskeyid" /></label>
  </div>
   <label for="checkbox1" class="error"><input type="checkbox" id="4" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Accesskey </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Accesskey" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="5" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Hostname </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Hostname" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="6" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> User agent info </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="User agent info" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="7" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Region </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Region" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="8" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Http protocol </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Http protocol" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="9" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Uri style </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Uri style" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="10" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label> Request retries </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Request retries" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="11" required=""></label>
  </div>
  <div class="row">
  <div class="large-6 small-6 columns">
    <label>  Displays this help and exit </label>
  </div>
  <div class="large-4 columns">
      <label><input type="text" placeholder="Displays this help and exit" /></label>
  </div>
  <label for="checkbox1" class="error"><input type="checkbox" id="12" required=""></label>
  </div>
  <div class="row"  style="float: right; width: 500px;">
    <li class="button large">
      <%= link_to 'Expanded Button', controller: "static_pages", action: "runmyscript"%>
    </li>
  </div>

  </div>
  
</section>

  <a class="exit-off-canvas"></a>

  </div>

</div>
</div>    
   </aside>
      </div>
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    


















































